@charset "utf-8";
/* CSS Document */


/*------------BORRAR--------------*/
/*ENTORNO*/
#entorno{
	width: 100%;
	max-width: 800px;
	margin: auto;

}
/*--------------------------------*/



/*CODIGOS DE COLOR
(1:Banner 2:Borde 3:Icono)

ACA!!!!!!!!!!

SAS: #0766d1, #032954
-------------------------------
GRIS GENERAL:  #d9d9d9
-------------------------------
GENERAL: #03569D, #77ACFF
-------------------------------
PLAN FEDERAL: #2E2D7F, #5B5CA5, #CEA3CA
-------------------------------
INDEC UNI: #5F3B6E, #8C68A7, #B7C3E3
-------------------------------
TÉCNICO PROFESIONAL: #1B6643, #113321, #E2B300
-------------------------------
RELEVAMIENTO ESTADÍSTICO: #791E37, #C43059, #BFD3DD
-------------------------------
META DATO: #da6a63, #1d4d87, #03569D, #77ACFF
-------------------------------
HTML 
--violeta-intenso: #632EFC;
--violeta-oscuro: #2E2D7F;
--negro: #090909;
--violeta-claro: #5B5CA5;

APLICA ASI: var(--violeta-intenso);
  ----------------------------
*/
/*
--inap:#0766d1;
--general:#03569D;
--tecnicoP:#1B6643;
--relevamientoE:#791E37;
--indecuni: #5F3B6E;
*/
/*---------------BIENVENIDA---------------*/

.caja-bien{
	width: 100%;
	max-width: 600px;
	margin: auto;
}

*{text-align: left!important;}

#bienvenida{
	width: 100%;
	/*background: #D9B5B6;*/
	padding-top: 50px;
	padding-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: "Helvetica Neue", Helvetica, "sans-serif";
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	border:solid 1px #d9d9d9;
	
	/*box-shadow: 5px 5px 5px #d9d9d9;*/
	
}

.titulo-bien{
	font-size: 19px;
	font-weight: 200;
	text-align: center;
	margin-bottom: 10px;
	color: #4F4F4F;
}

.curso-bien, .curso-bien-pf, .curso-bien-iu, .curso-bien-tp, .curso-bien-re, .curso-bien-sas, .curso-bien-md, .curso-bien-htmlcurso, .curso-bien-tramo{
		font-size: 22px;
	font-weight: 200;
	text-align: center;
	color: #03569D;
	line-height: 30px;
}

.linea{
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%!important;
	max-width: 800px!important;
	margin-left:0px;
	border:solid 1px #dbdbdb;
}

.color-ge, .curso-modalidad-ge, .curso-modalidad-ge ion-icon{
	color: #03569D;
}
.color-pf, .curso-modalidad-pf,n .curso-modalidad-pf ion-icon{
	color: #2E2D7F;
}
.color-iu, .curso-modalidad-iu, .curso-modalidad-iu ion-icon{
	color: #5F3B6E;
}
.color-tp, .curso-modalidad-tp, .curso-modalidad-tp ion-icon{
	color: #1B6643;
}
.color-re, .curso-modalidad-re, .curso-modalidad-re ion-icon{
	color: #791E37;
}
.color-sas, .curso-modalidad-sas, .curso-modalidad-sas ion-icon{
	color: #032954;
}
.color-md, .curso-modalidad-md, .curso-modalidad-md ion-icon{
	color: #1d4d87;
}

.color-pf, .curso-modalidad-pf, .curso-modalidad-pf ion-icon{
	color: #2E2D7F;
}

.color-htmlcurso, .curso-modalidad-htmlcurso, .curso-modalidad-htmlcurso ion-icon{
	color: #2E2D7F;
}

.color-tramo, .curso-modalidad-tramo, .curso-modalidad-tramo ion-icon{
	color: #000000!important;
}

.curso-modalidad-ge, .curso-modalidad-pf, .curso-modalidad-iu, .curso-modalidad-tp, .curso-modalidad-re, .curso-modalidad-sas, .curso-modalidad-md, .curso-modalidad-htmlcurso, .curso-modalidad-tramo{
margin-top: 40px;
border: solid 2px;
padding: 35px;
border-radius: 20px 0px 20px 0px;	
}


.curso-modalidad-ge ion-icon, .curso-modalidad-pf ion-icon, .curso-modalidad-iu ion-icon, .curso-modalidad-tp ion-icon, .curso-modalidad-re ion-icon, .curso-modalidad-sas ion-icon, .curso-modalidad-md ion-icon, .curso-modalidad-htmlcurso ion-icon, .curso-modalidad-tramo ion-icon{
text-align: center;
	width: 100%;
	margin: auto;
	font-size: 60px;
}

/*---------------CONTENIDO---------------*/

strong{font-weight: 800;}

/*BANNER PRINCIPAL*/
.caratula-ge, .caratula-pf, .caratula-iu, .caratula-tp, .caratula-re,.caratula-sas, .caratula-md, .caratula-htmlcurso, .caratula-tramo{
	width: 100%;
	max-width: 800px;
	border-left: solid 20px;
	/**/
	border-radius:00px 0px 50px 0px;
	position: relative;
	
	/*COLOR DE FONDO*/
	background: #FFFFFF;


	/*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);*/
	position: relative;
	overflow: hidden;
	z-index: 0;
	margin-bottom: 20px;
}

.caratula-sas{
	border-radius:10px 10px 10px 10px!important;
}

.cuadro-sas, .cuadro-ge, .cuadro-pf, .cuadro-iu, .cuadro-tp, .cuadro-re, .cuadro-md, .cuadro-htmlcurso, .cuadro-tramo{
	width: 100%;
	max-width: 800px;
	border-left: solid 20px;
	/**/
	border-radius:0px 0px 50px 0px;
	position: relative;
	
	/*COLOR DE FONDO*/
	background: #FFFFFF;


	/*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);*/
	position: relative;
	overflow: hidden;
	z-index: 0;
	margin-bottom: 20px;
}

.caratula-sas img, .caratula-ge img, .caratula-pf img, .caratula-iu img, .caratula-tp img, .caratula-re img, .caratula-md img, .caratula-htmlcurso img, .caratula-tramo img{
	position: absolute;
	top: -150px;
	right:0px;
	width: 800px;	
	opacity: 0,7;
}

.titulo1-c-sas, .titulo1-c-ge, .titulo1-c-pf, .titulo1-c-iu, .titulo1-c-tp, .titulo1-c-re, .titulo1-c-md, .titulo1-c-htmlcurso, .titulo1-c-tramo{
	font-family: "Helvetica Neue", Helvetica, "sans-serif";
	font-weight: 400;
	font-size: 16px;
	
	padding-top: 50px;
	margin-left: 20px;
	z-index: 1;
	position: relative;
	width: 80%;
}

.titulo2-c-sas, .titulo2-c-ge, .titulo2-c-pf, .titulo2-c-iu, .titulo2-c-tp, .titulo2-c-re, .titulo2-c-md, .titulo2-c-htmlcurso, .titulo2-c-tramo{
	font-family: "Helvetica Neue", Helvetica, "sans-serif";
	font-weight: 200;
	font-size: 18px;

	line-height: 25px;
	margin-left: 20px;
	margin-right: 110px;
	z-index: 1;
	position: relative;
	padding-bottom: 40px;
}

.hr-sas, .hr-ge, .hr-tp, .hr-pf, .hr-iu, .hr-re, .hr-md, .hr-htmlcurso, .hr-tramo{
margin-left: 20px;
width: 65%;
max-width:460px;
z-index: 1;
position: relative;
border:solid 1px;
}


/*BANNERS*/
.banner-1-sas, .banner-1-ge, .banner-1-pf, .banner-1-iu, .banner-1-tp, .banner-1-re, .banner-1-md, .banner-1-htmlcurso, .banner-1-tramo{
	width: 100%;
	/*max-width: 1020px;*/
	/*height: 80px;*/
	border-left: solid 20px;
	border-radius:0px 50px 50px 0px;
	position: relative;
	/*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);*/
	margin-right: 20px;
    margin-bottom: 20px;
	
}

/*BOTON LINK*/
.boton-1-sas, .boton-1-ge, .boton-1-pf, .boton-1-iu, .boton-1-tp, .boton-1-re, .boton-1-md, .boton-1-htmlcurso, .boton-1-tramo{
	width: 100%;
	max-width: 800px;
	/*max-width: 1020px;*/
	/*height: 80px;*/
	
	border-left: solid 20px;
	/*border-right: solid 15px;*/

	border-radius:0px 50px 50px 50px;
	position: relative;
	/*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);*/
	/*margin-right: 20px;*/
    margin-bottom: 20px;
}

.titulo-bot1-sas, .titulo-bot1-ge, .titulo-bot1-pf, .titulo-bot1-iu, .titulo-bot1-tp, .titulo-bot1-re, .titulo-bot1-md, .titulo-bot1-htmlcurso, .titulo-bot1-tramo{
	padding-top: 5px;
	padding-bottom: 5px;
}

a{text-decoration: none;}
a .boton-1-sas:hover, a .boton-1-ge:hover, a .boton-1-pf:hover, a .boton-1-iu:hover, a .boton-1-tp:hover, a .boton-1-re:hover, a .boton-1-htmlcurso:hover, a .boton-1-tramo:hover{
	opacity: 0.6;
margin-right: 20px;
}

/*TITULOS*/
.titulo-b1-sas,.titulo-bot1-sas, .titulo-b1-ge, .titulo-bot1-ge, .titulo-b1-pf, .titulo-bot1-pf, .titulo-b1-iu, .titulo-bot1-iu, .titulo-b1-tp, .titulo-bot1-tp, .titulo-b1-re, .titulo-bot1-re, .titulo-b1-md, .titulo-bot1-md, .titulo-b1-htmlcurso, .titulo-bot1-htmlcurso, .titulo-b1-tramo, .titulo-bot1-tramo{
	font-family: "Helvetica Neue", Helvetica, "sans-serif";
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	margin-left: 12px;
	width: 70%;
	padding-top: 25px;
	padding-bottom: 25px;
}

/*SUB BANNER*/
.sub-banner-sas, .sub-banner-ge, .sub-banner-pf,.sub-banner-iu,.sub-banner-tp,.sub-banner-re,.sub-banner-md,.sub-banner-htmlcurso,.sub-banner-tramo{
	width: 100%;
	max-width: 1020px;
	height: 40px;
	border-left: solid 9px;
	border-radius:0px 50px 50px 0px;
	position: relative;
	margin-right: 50px;
	   margin-bottom: 20px;
}

/*SUB TITULO*/
.sub-titulo-sas, .sub-titulo-ge, .sub-titulo-pf, .sub-titulo-iu, .sub-titulo-tp, .sub-titulo-re, .sub-titulo-md, .sub-titulo-htmlcurso, .sub-titulo-tramo{
	font-family: "Helvetica Neue", Helvetica, "sans-serif";
	font-weight: 600;
	font-size: 17px;
	line-height: 40px;
	margin-left: 20px;
}

/*ICONOS CAJA*/
.icono,.bot-icono-sas, .bot-icono-ge, .bot-icono-pf, .bot-icono-iu, .bot-icono-tp, .bot-icono-re, .bot-icono-md, .bot-icono-htmlcurso, .bot-icono-tramo{
	height: 80px;
	width: 80px;
	position: absolute;
	top:25%;
	right: 0px;
	opacity: 1;
}

/*POSICION*/
.bot-icono-sas, .bot-icono-ge, .bot-icono-pf, .bot-icono-iu, .bot-icono-tp, .bot-icono-re, .bot-icono-md, .bot-icono-htmlcurso, .bot-icono-tramo{
	top:8px;
	right: 10px;
}

/*ICONOGRAFIA*/
ion-icon {
  font-size: 40px;
  color: #fff;	
}

.icono-1 ion-icon{
	font-size: 50px;
	/*COLOR*/
	color: #2B5597;	
}

.bot-icono-sas ion-icon, .bot-icono-ge ion-icon, .bot-icono-pf ion-icon, .bot-icono-iu ion-icon, .bot-icono-tp ion-icon, .bot-icono-re ion-icon, .bot-icono-md ion-icon, .bot-icono-htmlcurso ion-icon, .bot-icono-tramo ion-icon{
	 font-size: 60px;
}

/* //////////////////////// */
/* //////////////////////// */

.cuadro-tp{}

.cuadro-tp img {height: 190px;}

.cont-flex-cuadro{
	width: 100%;
	max-width: 800px;
	min-width: 400px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.cuadro-text{
	font-family: "Helvetica Neue", Helvetica, "sans-serif";
	font-weight: 400;
	font-size: 15px;
	margin-left: 20px;
	margin-right: 20px;}

/*//////////// FLEX DOCENTE ///////////*/

.contenedorflex{
	width: 100%;
	max-width: 800px;
min-width: 300px;
display: flex;
flex-direction: row;
/*justify-content: space-between;*/
margin-bottom: 30px;
font-family: "Helvetica Neue", Helvetica, "sans-serif";
	background:#F0F0F0;
	padding-bottom: 0px;
	border-bottom: solid 3px #494949;}

.caja-sas, .caja-md{width: 100%;}

.caja-1-sas img, .caja-1-md img{
	width: 150px;
	height: 150px;}

.caja-1-sas, .caja-1-md{
border-left: solid 20px;
width: 100%;
max-width: 150px;
min-width: 80px;
max-height: 150px;
border-radius: 15px 0px 0px 0px;
display: flex;
/*justify-content: space-between;*/
flex-wrap: wrap;
overflow: hidden;}

.caja-2-sas, .caja-2-md{
width: 100%;
max-width: 600px;
min-width: 320px;
/*background: #B9B9B9;*/
padding-bottom: 15px;
/*justify-content: space-between;*/
flex-wrap: wrap;
border-radius: 0px 20px 20px 0px;}

/*////////////////////*/
/*
SAS: #0766d1, #032954 */

/*DOCENTE*/
.dir-sas, .dir-ge, .dir-pf, .dir-iu,.sub-banner-tp,.dir-re,.dir-md,.dir-htmlcurso, .dir-tramo{
	width: 100%;
	border-radius:0px 50px 50px 0px;
	position: relative;
	margin-right: 50px;
	margin-bottom: 20px;
	margin-top: 0px;	}

/*DOCENTES*/
.dir-ti-sas, .dir-ti-ge, .dir-ti-pf, .dir-ti-iu, .dir-ti-tp, .dir-ti-re, .dir-ti-md, .curso-bien-htmlcurso, .curso-bien-tramo{
	font-family: "Helvetica Neue", Helvetica, "sans-serif";
	font-weight: 600;
	font-size: 17px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 20px;
	color: #fff;}

.caja-sas p, .caja-md p{
	margin-left: 20px;
	margin-right: 20px;}

.docente-nom{
	font-size: 18px;
	font-weight: 600;
	margin-left: 20px;
	margin-bottom: 15px;}

.boton-cv{
	position: relative;
	display: block;
	font-weight: 600;
	color: #fff;
	border-radius:20px 20px 20px 20px;
	margin-left: 15px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px;}

.boton-cv{background:#B0B0B0;}

.boton-cv ion-icon{
	position: absolute;
	font-size: 25px;
	margin-top: 7px;
	left:10px;}

.boton-cv p{
	text-align: center;
	padding-left: 20px;}

.boton-cv:hover{
	cursor:pointer;
	opacity: 0.7;}

.docente-FLEX{
	display: flex;}

.docente-cv, .docente-mision{
	font-size: 14px;
	text-align: left;
	padding-bottom: 20px;}

.docente-mision h2{
	margin-left: 18px;
	font-size: 20px;
	font-weight: 600;}

.docente-cv strong, .docente-mision strong{
	font-size: 14px;
	text-align: left;
	color: #2F2F2F;}



/* //////////////////////// */
/* ///////////RESPONSIVE///////////// */

@media (max-width:560px){
.cont-flex-cuadro{
flex-direction: column!important;
}
	.cuadro-tp img {
	height: 300px!important;
}

	#bienvenida{
	padding-left: 20px!important;
	padding-right: 20px!important;
}
}
	
@media (max-width:660px){
.contenedorflex{
flex-direction:column!important;
}
	

.caja-1-md img{
	width: 170px!important;
	height: 170px!important;
	
}

.caja-1-md{
border-left: solid 0px!important;
border: solid 5px!important;
max-width: 170px!important;
min-width: 170px!important;
max-height: 170px!important;
min-height: 170px!important;
border-radius: 150px 150px 150px 150px!important;
margin: auto!important;
margin-bottom: 20px!important;

}
	
	}




/* //////////////////////// */
/* //////////////////////// */





/* --------------------COLORES-------------------- */


/* //////////////////////// */
/* //////// COLOR ///////// */
     /*PRINCIPAL / GENERAL*/

/*TEXTO BANNER CARATULA*/
.titulo1-c-ge, .titulo2-c-ge{	
color: #03569D;
}

/*LINEA BP*/
.hr-ge{
border-color: #03569D;
}

/*BORDE IZQ BANNERS CARATULA*/
.caratula-ge, .cuadro-ge{
	/*Color de borde AZUL*/
	border-color:#03569D;
	background: rgba(3,86,157,0.10);
}

	

/*BANNER*/
.banner-1-ge{
	/*COLOR DE BORDE AZUL CLARO*/
	border-color: #77ACFF;
	/*COLOR DE FONDO BANNER*/
	background: #03569D;
}
.boton-1-ge{
	/*COLOR DE BORDE AZUL CLARO*/
	border-color: #03569D;
	/*COLOR DE FONDO BANNER*/
	background: #d9d9d9;
}

/*TITULOS BANER*/
.titulo-b1-ge{
	/*COLOR BLANCO*/
	color: #fff;
	}
/* ---SUB BANNER---*/
.sub-banner-ge{
	/*COLOR DE BORDE AZUL*/
    border-color:#03569D;
	/*COLOR DE FONDO GRIS*/
	background: #d9d9d9;}
.sub-titulo-ge, .titulo-bot1-ge{
	/*COLOR AZUL*/
	color: #03569D;
}

/*COLOR ICONOS*/
.banner-1-ge ion-icon{
	color: #fff;	
}

.bot-icono-ge ion-icon{
	/*COLOR*/
	color: #03569D;	
}




/* ----------------//////////////-------------- */
/* ------------------------------ */





	
/* //////////////////////// */
/* //////// COLOR ///////// */
      /*PLAN FEDERAL*/

/*TEXTO BANNER CARATULA*/
.titulo1-c-pf, .titulo2-c-pf{	
color: #2E2D7F;
}

/*LINEA BP*/
.hr-pf{
border-color: #2E2D7F;
}

/*BORDE IZQ BANNERS CARATULA*/
.caratula-pf, .cuadro-pf{
	/*Color de borde AZUL*/
	border-color:#2E2D7F;
	/*background: rgba(46,45,127,0.20);*/
	background: rgba(46,45,127,0.10);
}

/*BANNER*/
.banner-1-pf{
	/*COLOR DE BORDE AZUL CLARO*/
	border-color: #5B5CA5;
	/*COLOR DE FONDO BANNER*/
	background: #2E2D7F;
}
.boton-1-pf{
	/*COLOR DE BORDE AZUL CLARO*/
	border-color: #2E2D7F;
	/*COLOR DE FONDO BANNER*/
	background: #d9d9d9;
}


/*TITULOS BANER*/
.titulo-b1-pf{
	/*COLOR BLANCO*/
	color: #fff;
	}
/* ---SUB BANNER---*/
.sub-banner-pf{
	/*COLOR DE BORDE AZUL*/
    border-color:#2E2D7F;
	/*COLOR DE FONDO GRIS*/
	background: #d9d9d9;}
.sub-titulo-pf, .titulo-bot1-pf{
	/*COLOR AZUL*/
	color: #2E2D7F;
}

/*COLOR ICONOS*/
.banner-1-pf ion-icon{
	color: #CEA3CA;	
}

.bot-icono-pf ion-icon{
	/*COLOR*/
	color: #2E2D7F;	
}

/* ----------------//////////////-------------- */
/* ------------------------------ */






/* //////////////////////// */
/* //////// COLOR ///////// */
    /*INDEC UNIVERSIDAD*/

/*TEXTO BANNER CARATULA*/
.titulo1-c-iu, .titulo2-c-iu{	
color: #5F3B6E;
}

/*LINEA BP*/
.hr-iu{
border-color: #5F3B6E;
}

/*BORDE IZQ BANNERS CARATULA*/
.caratula-iu, .cuadro-iu{
	/*Color de borde AZUL*/
	border-color:#5F3B6E;
	background: rgba(95,59,110,0.10);
}

/*BANNER*/
.banner-1-iu{
	/*COLOR DE BORDE AZUL CLARO*/
	border-color: #8C68A7;
	/*COLOR DE FONDO BANNER*/
	background: #5F3B6E;
}
.boton-1-iu{
	/*COLOR DE BORDE AZUL CLARO*/
	border-color: #5F3B6E;
	/*COLOR DE FONDO BANNER*/
	background: #d9d9d9;
}

/*TITULOS BANER*/
.titulo-b1-iu{
	/*COLOR BLANCO*/
	color: #fff;
	}
/* ---SUB BANNER---*/
.sub-banner-iu{
	/*COLOR DE BORDE AZUL*/
    border-color:#5F3B6E;
	/*COLOR DE FONDO GRIS*/
	background: #d9d9d9;}
.sub-titulo-iu, .titulo-bot1-iu{
	/*COLOR AZUL*/
	color: #5F3B6E;
}

/*COLOR ICONOS*/
.banner-1-iu ion-icon{
	color: #B7C3E3;	}

.bot-icono-iu ion-icon{
	/*COLOR*/
	color: #5F3B6E;	
}

/* ----------------//////////////-------------- */
/* ------------------------------ */





/* //////////////////////// */
/* //////// COLOR ///////// */
    /*TECNICO PROFESIONAL*/

/*TEXTO BANNER CARATULA*/
.titulo1-c-tp, .titulo2-c-tp{	
color: #113321;
}

/*LINEA BP*/
.hr-tp{
border-color: #1B6643;
}

/*BORDE IZQ BANNERS CARATULA*/
.caratula-tp, .cuadro-tp{
	/*Color de borde AZUL*/
	border-color:#1B6643;
	background: rgba(27,102,67,0.10);
}

/*BANNER*/
.banner-1-tp{
	/*COLOR DE BORDE AZUL CLARO*/
	border-color: #113321;
	/*COLOR DE FONDO BANNER*/
	background: #1B6643;
}
.boton-1-tp{
	/*COLOR DE BORDE AZUL CLARO*/
	border-color: #1B6643;
	/*COLOR DE FONDO BANNER*/
	background: #d9d9d9;
}

/*TITULOS BANER*/
.titulo-b1-tp{
	/*COLOR BLANCO*/
	color: #fff;
	}
/* ---SUB BANNER---*/
.sub-banner-tp{
	/*COLOR DE BORDE AZUL*/
    border-color:#113321;
	/*COLOR DE FONDO GRIS*/
	background: #d9d9d9;}
.sub-titulo-tp, .titulo-bot1-tp{
	/*COLOR AZUL*/
	color: #113321;
}

/*COLOR ICONOS*/
.banner-1-tp ion-icon{
	color: #E2B300;	}

.bot-icono-tp ion-icon{
	/*COLOR*/
	color: #113321;	
}

/* ----------------//////////////-------------- */
/* ------------------------------ */





/* //////////////////////// */
/* //////// COLOR ///////// */
    /*Relevamientos Estadísticos*/

/*TEXTO BANNER CARATULA*/
.titulo1-c-re, .titulo2-c-re{	
color: #791E37;
}

/*LINEA BP*/
.hr-re{
border-color: #791E37;
}

/*BORDE IZQ BANNERS CARATULA*/
.caratula-re, .cuadro-re{
	/*Color de borde AZUL*/
	border-color:#791E37;
	background: rgba(121,30,55,0.10);
}

/*BANNER*/
.banner-1-re{
	/*COLOR DE BORDE AZUL CLARO*/
	border-color: #C43059;
	/*COLOR DE FONDO BANNER*/
	background: #791E37;
}
.boton-1-re{
	/*COLOR DE BORDE AZUL CLARO*/
	border-color: #791E37;
	/*COLOR DE FONDO BANNER*/
	background: #d9d9d9;
}

/*TITULOS BANER*/
.titulo-b1-re{
	/*COLOR BLANCO*/
	color: #fff;
	}

/* ---SUB BANNER---*/
.sub-banner-re{
	/*COLOR DE BORDE AZUL*/
    border-color:#791E37;
	/*COLOR DE FONDO GRIS*/
	background: #d9d9d9;}
.sub-titulo-re, .titulo-bot1-re{
	/*COLOR AZUL*/
	color: #791E37;
}

/*COLOR ICONOS*/
.banner-1-re ion-icon{
	color: #BFD3DD;	}

.bot-icono-re ion-icon{
	/*COLOR*/
	color: #791E37;	
}

/* ----------------//////////////-------------- */
/* ------------------------------ */

/* //////////////////////// */
/* //////// COLOR ///////// */
     /*SAS*/

/*TEXTO BANNER CARATULA*/
.titulo1-c-sas, .titulo2-c-sas{	
color: #fff;
}

/*LINEA BP*/
.hr-sas{
border-color: #fff;
}

/*BORDE IZQ BANNERS CARATULA*/
.caratula-sas, .cuadro-sas{
	/*Color de borde AZUL*/
	border-color:#3795f4;
	background: rgba(3,86,157,0.10);
}

	

/*BANNER*/
.banner-1-sas{
	/*COLOR DE BORDE AZUL CLARO*/
	border-color: #3795f4;
	/*COLOR DE FONDO BANNER*/
	background: #032954;
}
.boton-1-sas{
	/*COLOR DE BORDE AZUL CLARO*/
	border-color: #3795f4;
	/*COLOR DE FONDO BANNER*/
	background: #d9d9d9;
}

/*TITULOS BANER*/
.titulo-b1-sas{
	/*COLOR BLANCO*/
	color: #fff;
	}
/* ---SUB BANNER---*/
.sub-banner-sas{
	/*COLOR DE BORDE AZUL*/
    border-color:#3795f4;
	/*COLOR DE FONDO GRIS*/
	background: #d9d9d9;}
.sub-titulo-sas, .titulo-bot1-sas{
	/*COLOR AZUL*/
	color: #032954;
}

/*COLOR ICONOS*/
.banner-1-sas ion-icon{
	color: #3795f4;	
}

.bot-icono-sas ion-icon{
	/*COLOR*/
	color: #0766d1;	
}

.caja-1-sas{border-color: #3795f4;}

.dir-sas{
	border-left: solid 9px #0766d1;
	background: #032954;
}

/* ----------------//////////////-------------- */

/* ///////////3384c1///////////// */
/* //////// COLOR ///////// */
     /*  META DATO */

/*TEXTO BANNER CARATULA*/
.titulo1-c-md, .titulo2-c-md{	
color: #1d4d87;
}


/*LINEA BP*/
.hr-md{
border-color: #3384c1;
}

/*BORDE IZQ BANNERS CARATULA*/
.caratula-md, .cuadro-md{
	/*Color de borde AZUL*/
	border-color:#1d4d87;
	background: rgba(218,106,99,0.0);
}


/*BANNER*/
.banner-1-md{
	/*COLOR DE BORDE AZUL CLARO*/
	border-color: #3384c1;
	/*COLOR DE FONDO BANNER*/
	background: #1d4d87;
}
.boton-1-md{
	/*COLOR DE BORDE AZUL CLARO*/
	border-color: #1d4d87;
	/*COLOR DE FONDO BANNER*/
	background: #f4f4f4;
}

/*TITULOS BANER*/
.titulo-b1-md{
	/*COLOR BLANCO*/
	color: #fff;
	}
/* ---SUB BANNER---*/
.sub-banner-md{
	/*COLOR DE BORDE AZUL*/
    border-color:#da6a63;
	/*COLOR DE FONDO GRIS*/
	background:#f4f4f4;}
.sub-titulo-md, .titulo-bot1-md{
	/*COLOR AZUL*/
	color: #1d4d87;
	
}

/*COLOR ICONOS*/
.banner-1-md ion-icon{
	color: #da6a63;	
}

.bot-icono-md ion-icon{
	/*COLOR*/
	color: #da6a63;	
}

.caja-1-md{border-color: #3384c1;}

@media (max-width:660px){
.caja-1-md{
	border: solid 5px #3384c1!important;
}
}

.dir-md{
	border-left: solid 9px #3384c1;
	background: #1d4d87;
}

/* ----------------//////////////-------------- */
/* ------------------------------ */


/* ----------------//////////////-------------- */

/* //////////////////////// */
/* //////// COLOR ///////// */
     /*  HTML */
	/* -------------------------------*/
/* 
	HTML 
	 --violeta-intenso: #632EFC;
	 --violeta-oscuro: #2E2D7F;
	 --negro: #090909;
	 --violeta-claro: #5B5CA5;
	 		color: #AE4BD4;
	 APLICA ASI: var(--violeta-intenso);
	   ----------------------------
*/

/*TEXTO BANNER CARATULA*/

h1.titulo1-c-htmlcurso{
color: #2E2D7F!important;}

.titulo2-c-htmlcurso{	
	color: #2E2D7F;
	}
	
	
	/*LINEA BP*/
	.hr-htmlcurso{
	border-color: #2E2D7F;
	}
	
	/*BORDE IZQ BANNERS CARATULA*/
	.caratula-htmlcurso, .cuadro-htmlcurso{
		/*Color de borde AZUL*/
		border-color:#632EFC;
		background: rgba(218,106,99,0.0);
	}
	
	/*BANNER*/
	.banner-1-htmlcurso{
		/*COLOR DE BORDE AZUL CLARO*/
		border-color: #632EFC;
		/*COLOR DE FONDO BANNER*/
		background: #090909;
	}
	.boton-1-htmlcurso{
		/*COLOR DE BORDE AZUL CLARO*/
		border-color: #632EFC;
		/*COLOR DE FONDO BANNER*/
		background: #f4f4f4;
	}
	
	/*TITULOS BANER*/
	.titulo-b1-htmlcurso{
		/*COLOR BLANCO*/
		color: #fff;
		}
	/* ---SUB BANNER---*/
	.sub-banner-htmlcurso{
		/*COLOR DE BORDE AZUL*/
		border-color:#AE4BD4;
		/*COLOR DE FONDO GRIS*/
		background:#f4f4f4;}
	.sub-titulo-htmlcurso, .titulo-bot1-htmlcurso{
		/*COLOR AZUL*/
		color: #090909;
		
	}
	
	/*COLOR ICONOS*/
	.banner-1-htmlcurso ion-icon{
		color: #FFFFFF;	
	}
	
	.bot-icono-htmlcurso ion-icon{
		/*COLOR*/
		color: #632EFC
	}
	
	.caja-1-htmlcurso{border-color: #632EFC;}
	
	@media (max-width:660px){
	.caja-1-htmlcurso{
		border: solid 5px #632EFC!important;
	}
	}
	
	.dir-htmlcurso{
		border-left: solid 9px #632EFC;
		background: #2E2D7F;
	}
	
	/* ----------------//////////////-------------- */
	/* ------------------------------ */

	


	/* //////// COLOR ///////// */
     /*  TRAMO */
	 -------------------------------
/* 
	TRAMO
	ROJO: #ff342a
	NEGRO: #090909
	Amarillo: #fce9b2
	Celeste: #44a9d6
	Gris: #f4f4f4

	   ----------------------------
*/

/*TEXTO BANNER CARATULA*/

h1.titulo1-c-tramo{
color: #000000!important;}

.titulo2-c-tramo{	
	color: #000000;
	}
	
	
	/*LINEA BP*/
	.hr-tramo{
	border-color: #090909;
	}
	
	/*BORDE IZQ BANNERS CARATULA*/
	.caratula-tramo, .cuadro-tramo{
		border-color:#ff342a;
		background: rgba(218,106,99,0.0);
	}
	
	/*BANNER*/
	.banner-1-tramo{
		border-color: #ff342a;
		background: #fce9b2;
	}
	.boton-1-tramo{
		border-color: #44a9d6;
		background: #f4f4f4;
	}
	
	/*TITULOS BANER*/
	.titulo-b1-tramo{
		color: #090909;
		}
	/* ---SUB BANNER---*/
	.sub-banner-tramo{
		border-color:#44a9d6;
		background:#f4f4f4;}
		
	.sub-titulo-tramo, .titulo-bot1-tramo{
		color: #090909;
		
	}
	
	/*COLOR ICONOS*/
	.banner-1-tramo ion-icon{
		color: #090909!important;	
	}
	
	.bot-icono-tramo ion-icon{
		/*COLOR*/
		color: #090909!important;	
	}
	
	.caja-1-tramo{border-color: #ff342a;}
	
	@media (max-width:660px){
	.caja-1-tramo{
		border: solid 5px #ff342a!important;
	}
	}
	
	.dir-tramo{
		border-left: solid 9px #ff342a;
		background: #090909;
	}
	
	/* ----------------//////////////-------------- */
	/* ------------------------------ */