.containerCEIA {
    color: #555;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    text-align: justify;
}

.containerActividadesCEIA {
    color: #555;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    max-width: 800px;
    overflow: hidden;
    text-align: justify;
}

.containerCEIA strong {
    color: #52979f;
    font-weight: 600;
}

.img-resp-CEIA {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-border-CEIA {
    border: 5px solid #555;
}

.img-small-CEIA {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.containerActividadesCEIA strong {
    color: #52979f;
    font-weight: 600;
}

.containerCEIA em {
    color: #52979f;
    font-style: italic;
}

.containerActividadesCEIA em {
    color: #52979f;
    font-style: italic;
}

.normalItalicCEIA {
    font-style: italic;
}

.containerCEIA u {
    text-decoration: underline;
}

.containerCEIA ul {
    list-style: none;
}

.containerCEIA ul li::before {
    content: "\2022";
    color: #52979f;
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.containerActividadesCEIA ul {
    list-style: none;
}

.containerActividadesCEIA ul li::before {
    content: "\2022";
    color: #52979f;
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.tituloCEIA {
    font-size: 18px;
    color: #fff;
    background-color: #a3cce3;
    text-shadow: 2px 2px 6px #52979f;
    padding: 8px;
}

.subrayado_tituloCEIA {
    width: 100%;
    margin: auto;
    padding: 3px;
    color: #52979f;
    font-weight: 700;
    border-bottom: solid #215680;
}

.recuadro_strongCEIA {
    width: 95%;
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: #52979f;
    font-weight: 700;
    border-style: solid;
    border-color: #89c9d5;
    box-shadow: 0 3px 5px 0 #d4d4d4;
}

.recuadro_imprimiblesCEIA {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #f7ac46;
    font-weight: 700;
    box-shadow: 0 3px 5px 0 #d4d4d4;
}

.recuadro_actividadesCEIA {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #52979f;
    font-weight: 700;
    box-shadow: 0 3px 5px 0 #d4d4d4;
}

.recuadro_lightCEIA {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-position: 9px 0;
    background-repeat: no-repeat;
    border: solid 1px #89c9d5;
    border-radius: 6px;
    overflow: hidden;
    padding: 15px 60px;
}

.esp0_CEIA {
    margin-top: 20px;
}

.esp1_CEIA {
    margin-top: 30px;
}

.esp2_CEIA {
    margin-top: 40px;
}

.esp3_CEIA {
    margin-top: 50px;
}

.esp4_CEIA {
    margin-top: 60px;
}

.esp5_CEIA {
    margin-top: 100px;
}

.containerCEIA a {
    text-decoration: underline;
    color: #215680;
}

.containerCEIA a:hover {
    color: #215680;
}

.containerCEIA a:active {
    color: #215680;
}

.containerCEIA a:visited {
    color: #215680;
}

.hideLinks a {
    text-decoration: none;
    color: #fff;
}

.hideLinks a:hover {
    color: #fff;
}

.hideLinks a:active {
    color: #fff;
}

.hideLinks a:visited {
    color: #fff;
}

.img-border {
    border: 5px solid #555;
}

.tooltipCEIA {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #000;
}

.tooltipCEIA .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltipCEIA .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltipCEIA:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.adm_nota_CEIA {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #f0f7fb;
    background-image: url(https://laetgarksplaylists.netlify.app/CEIA/css/nota.webp);
    background-position: 9px 0;
    background-repeat: no-repeat;
    border: solid 1px #3498db;
    border-radius: 6px;
    overflow: hidden;
    padding: 15px 60px;
}

.adm_ok_CEIA {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #f2fbf0;
    background-image: url(https://laetgarksplaylists.netlify.app/CEIA/css/ok.webp);
    background-position: 9px 0;
    background-repeat: no-repeat;
    border: solid 1px #3ac24c;
    border-radius: 6px;
    overflow: hidden;
    padding: 15px 60px;
}

.adm_idea_CEIA {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #fbfbf0;
    background-image: url(https://laetgarksplaylists.netlify.app/CEIA/css/idea.webp);
    background-position: 9px 0;
    background-repeat: no-repeat;
    border: solid 1px #e2d23d;
    border-radius: 6px;
    overflow: hidden;
    padding: 15px 60px;
}

.adm_atencion_CEIA {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #fbf1f0;
    background-image: url(https://laetgarksplaylists.netlify.app/CEIA/css/atencion.webp);
    background-position: 9px 0;
    background-repeat: no-repeat;
    border: solid 1px #e74c3c;
    border-radius: 6px;
    overflow: hidden;
    padding: 15px 60px;
}

.h1_CEIA {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #52979f;
}

.h1_InLine_CEIA {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #52979f;
}

.h2_CEIA {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #52979f;
}

.h2_InLine_CEIA {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #52979f;
}

.h3_CEIA {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #52979f;
}

.h3_InLine_CEIA {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #52979f;
}

.h4_CEIA {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #52979f;
}

.h4_InLine_CEIA {
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #52979f;
}

.h5_CEIA {
    display: block;
    font-size: 0.83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #52979f;
}

.h5_InLine_CEIA {
    font-size: 0.83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #52979f;
}

.h6_CEIA {
    display: block;
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #52979f;
}

.h6_InLine_CEIA {
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #52979f;
}

.codeblock_CEIA {
    /* Esto va SI o SI en un <div> */
    font-family: monospace;
    white-space: pre;
    margin: 0;
    background: #f0f0f0;
    color: #444;
    border: 1px solid #e1e4e5;
    padding: 0.5em;
    letter-spacing: normal;
    overflow: auto;
    display: block;
}

.codeblock_InLine_CEIA {
    /* Esto va SI o SI en un <span> */
    font-family: monospace;
    white-space: pre;
    margin: 0;
    background: #f0f0f0;
    color: #444;
    border: 1px solid #e1e4e5;
    padding: 0.5em;
    letter-spacing: normal;
    overflow: auto;
    display: inline;
}

.containerStata {
    color: #555;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    text-align: justify;
}

.videoWrapperStata {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.videoWrapperStata iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
